

#form {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input {
  width: 80%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input::placeholder {
  color: #ccc;
  text-align: center;
}

.input:focus {
  outline: 2px solid #ddd;
}

.input[type="submit"] {
  transition-duration: .3s;
}

.input[type="submit"]:hover {
  background-color: #ddd;
  cursor: pointer;
}